html, body {
	margin: 0;
	padding: 0;
}

.nav {
	width: 100%;
    position: fixed;
    bottom: 0px;
    font-size: 15px;
}

.nav a, .nav-level-2 a {
	float: right;
	width: 50%;
	text-align: center;
	color: white;
	text-decoration: none;
	color: white;
	padding: 25px 0;
	background-color: black;
}

.nav a:hover, .nav-level-2 a:hover {
	background-color: #033f00;
}

.nav-level-2 {
	width: 100%;
	position: fixed;
	bottom: 65px;
	z-index: 100;
}